html, body {
    margin: 0;
    padding: 0;
    background-color: gray;
}

main {
    width: 100%;
    max-width: 800px;
    background-color: white;
    height: 100vh;
    margin: 0px auto;
    padding: 20px;
    text-align: justify;
    box-sizing: border-box;
}

main h1{
    margin: 0;
    text-align: center;
}

main p {
    text-indent: 30px;
}