body {
    font-family: Arial, Helvetica, sans-serif;
}

div {
    display: inline;
}

div > p {
    display: none;
}

#exe:hover >  #esc {
    display: block;
    color: white;
    background-color: red;
}

